{% 
set mdceAppVersions = { 
  "mdce-mqtt":		"1.7.170712.485", 
  "mdce-lora":		"1.7.170708.131", 
  "mdce-integration":	"1.7.170714.1511", 
  "mdce-web":		"1.7.170708.702", 
  "fpc":			"1.7.170707.340", 
  "mdce-scheduler":	"1.7.170708.145", 
  "galileo-database":	"1.7.170708.318" 
} 
%} 
