﻿@*
**************************************************************************
    Neptune Technology Group
    Copyright 2017 as unpublished work.
    All rights reserved
    The information contained herein is confidential
    property of Neptune Technology Group. The use, copying, transfer
    or disclosure of such information is prohibited except by express
    written agreement with Neptune Technology Group.
**************************************************************************
*@
@Scripts.Render("~/bundles/find_index")
@{
    ViewBag.Title = "Find my MIU";
}
<div class="content-wrapper">
    <h2>Find my MIU</h2>
    <p>
        <span>
            Find <input type="text" id="find-endpoint-id" class="find-input" placeholder="MIU ID, IMEI, ICCID or EUI" /> 
            by <span id="endpoint-id-type-span">--</span> 
            <button id="find-endpoint-go" class="find-input">Go</button>
            <select id="find-endpoint-id-type" class="find-input bpc-hidden">
                <option value="">--</option>
                <option value="MiuId">MIU ID</option>
                <option value="Imei">IMEI</option>
                <option value="Iccid">ICCID</option>
                <option value="Eui">EUI</option>
                <option value="ImeiEui">IMEI/EUI</option>
            </select>
        </span>
    </p>
    <div id="status-error" class="bpc-hidden">
        <span id="status-error-info" class="error"></span>
    </div>
    <div class="bpc-hidden" id="find-results-div">
        <p>Results for <span id="find-results-id-type"></span>: <span id="find-results-id"></span></p>
        <table id="find-results-table">
            <thead class="bpc-table-header">
            <tr>
                <th>Environment</th>
                <th>MIU ID</th>
                <th>ICCID</th>
                <th>IMEI</th>
                <th>EUI</th>
                <th>Last heard from</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="bpc-spinner-container">
        <div class="bpc-spinner" id="spinner">&nbsp;</div>
    </div>
</div>
