﻿@*
**************************************************************************
    Neptune Technology Group
    Copyright 2016 as unpublished work.
    All rights reserved
    The information contained herein is confidential
    property of Neptune Technology Group. The use, copying, transfer
    or disclosure of such information is prohibited except by express
    written agreement with Neptune Technology Group.
**************************************************************************
*@
@Scripts.Render("~/bundles/home_index")
@using Ntg
@using Ntg.BpcCore
@model Ntg.BpcWebService.Models.Home.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <h2>BPC Core</h2>
    <table class="bpc-auto-width">
        <tr>
            <td>Service last start time</td>
            <td><span id="last-exec-time"></span></td>
        </tr>
        <tr>
            <td>Are Services Running</td>
            <td><span id="are-services-executing"></span></td>
        </tr>
        <tr>
            <td>Service Status</td>
            <td>
                <div id="started-stopped-services" class="bpc-inline">
                    Started services: <span id="started-services-count"></span> -
                    Stopped services: <span id="stopped-services-count"></span>
                </div>
                <div id="status-error" class="bpc-hidden">
                    <span id="status-error-info" class="error"></span>
                </div>
            </td>
        </tr>
    </table>
    @if (Model.IsAdminUser)
    {
        <div>
            <a href="#" class="start-all-services">Start All</a>
            <a href="#" class="stop-all-services">Stop All</a>
        </div>
    }

    <h2>Environments</h2>
    @{var environmentList = Model.EnvironmentsConfig; }

    <p>Number of environments defined: @environmentList.Count</p>
    <table class="bpc-auto-width">
        <thead>
            <tr>
                <td>Name</td>
                <td>Base url</td>
                <td>Is Enabled</td>
                @if (Model.IsAdminUser)
                {
                    <td>Partner String</td>
                    <td>Tools</td>
                }
            </tr>
        </thead>
        @foreach (var item in environmentList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.BaseUrl</td>
                <td>@item.IsEnabled</td>
                @if (Model.IsAdminUser)
                {
                    <td><span class="partnerStringStatus" environment-name="@item.Name">@(item.HasPartnerString ? "OK" : "Not found")</span></td>
                    <td>
                        <div class="partnerStringEditor" environment-name="@item.Name">
                            <a href="#" class="setPartnerString">Set partner string</a>
                            <span class="partnerStringInput">
                            <input type="password" />
                            <a href="#" class="applyPartnerString">Apply</a>
                            <a href="#" class="cancelPartnerString">Cancel</a>
                        </span>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>

    @foreach (var scheduledService in Model.Scheduler.ScheduledServices)
    {
        <div class="bpc-data-connector-status">
            <div class="service-status" service-type="@scheduledService.DataConnector.DataConnectorType.ToString()">
                <h2>@scheduledService.DataConnector.Name</h2>
                <table class="bpc-auto-width">
                    <tr>
                        <td>Status</td>
                        <td><span class="service-status"></span></td>
                    </tr>
                    <tr>
                        <td>Schedule Interval</td>
                        <td><span class="service-exec-schedule"></span></td>
                    </tr>
                    <tr>
                        <td>Last executed</td>
                        <td><span class="service-last-exec"></span></td>
                    </tr>
                    <tr>
                        <td>Last run result</td>
                        <td><span class="service-last-exec-result"></span></td>
                    </tr>
                    <tr>
                        <td>Next execution time</td>
                        <td><span class="service-next-exec"></span></td>
                    </tr>
                </table>
                @if (Model.IsAdminUser)
                {
                    <div>
                        <a href="#" class="start-service">Start</a>
                        <a href="#" class="stop-service">Stop</a>
                        <a href="#" class="run-service">Run</a>
                    </div>
                }   
            </div>
        </div>
    }

</div>
