/*
 *  ***************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * ***************************************************************************
 */

body {
    font-family: Arial;
    background-image: url(../images/585-raindrops-and-clouds-1680x1050-photography-wallpaper.jpg);
    background-size: cover;
    margin: 0;
}

#titlebar {
    background: #d4cfc5;

}

#titlebar img {
    vertical-align:middle;
}

h1 {
    font-family: Helvetica Neue, Arial;
    display: inline-block;
    padding-left: 4ex;
    margin: 0;
    vertical-align: middle;
    line-height: normal;

}

h2 {
    color: #e74131;
    margin-top: 0;
}

a {
    color: #F48D30;
}


.mqtt-connection {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    vertical-align: top;
    background-color: #e8e8e8;
}


.mqtt-connection .status img {
    vertical-align:middle;
}


.cmiu-config {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    vertical-align: top;
    background-color: #e8e8e8;
}

.readings {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    vertical-align: top;
    background-color: #e8e8e8;
}


.connect {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    vertical-align: top;
    background-color: #e8e8e8;
}

label {
    width: 20ex;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.submit-buttons input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textbox {
    width: 50ex;
}

.submit-buttons input {
    background: linear-gradient(#ffe4b7, #f47722, #fab217);
    border: 1px solid #f99f2f;
    border-radius: 4px;
    color: white;
    padding-left: 2ex;
    padding-right: 2ex;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}


.back-link {
    margin: 20px;
}

a.button {
    background: linear-gradient(#ffe4b7, #f47722, #fab217);
    border: 1px solid #f99f2f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    padding-left: 3ex;
    padding-right: 3ex;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #848589;
    padding: 4px;
}

table thead {
    background-color: cadetblue;
    margin: 5px;
    padding:3px;
}

.long-string {
    word-break: break-all;
    margin: 10px 0px;
}

