/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

input:read-only {
    background-color: #525252;
    border: none;
    color: #ffffff;
    padding: 2px;
    float: left;
}

.alert-list-source {
    min-width: 20em;
}

.alert-list-ticket {
    width: 7%;
}

.alert-list-level {
    width: 7%;
}

.alert-list-level-error {
    width: 7%;
    color: #FF0000;
    /*font-weight: bold;*/
}

.alert-list-initial-date {
    width: 14em;
}

.alert-list-update {
    width: 14em;
}

.alert-list-message {
    min-width: 30%;
}

#alert-log-dynamic-list .alert-log-list-date {
    width: 20em;
}

#alert-log-dynamic-list .alert-log-list-message {
    min-width: 20em;
}

/*For selectable alerts in alert list*/
.selectable-alert .ui-selected {
    background: #5C5C5C;
}

.selectable-alert .ui-selecting {
    background: #666666;
}

.select-all-button {
    width: 85px;
    text-align: center
}

.clear-fix {
    clear: both;
}

#alert-info {
    margin: 18px 0 16px 0;
}

#alertDetails {
    padding: 5px 0 11px 0;
    margin: 12px 27px -25px 32px;
}
