/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

#table-audit-list {
  width: 100%;
  table-layout: fixed;
}
  #table-audit-list thead {
    color: #ffffff;
    background-color: #ff9900;
    text-align: center; }
  #table-audit-list th {
    font-weight: bold;
    padding: 5px; }
  #table-audit-list td {
    min-width: 10em; }

/*# sourceMappingURL=audit.css.map */
