/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015, 2016 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

/* Grid Defaults */
/* Breakpoints */
/* Calculate Min & Max Widths */
/* Strip percentage from gutter */
/* Work out 1% of $break-wide */
/* Add gutter value to $max-width so that each row is equal to $break-wide */
/* Set min width with scroll bar */
/* MIXIN
========================================================================== */
@import url(main.css);
body {
  overflow-y: scroll; }

.wrapper, section {
  max-width: 1836px;
  min-width: 300px;
  margin: 30px auto; }
  .wrapper:after, section:after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

.button, #import-cmiu-list .custom-file-input::before {
  display: inline;
  background-color: #ff9900;
  padding: 0.4em 2em;
  line-height: normal;
  border-radius: 0.5em;
  border-width: 0px;
  color: #fff;
  margin: 0px 1em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none; }

.button:hover, #import-cmiu-list .custom-file-input:hover::before {
  background-color: #ff9900;
  background-image: linear-gradient(#FFBE5C, #FF9900); }

.button:visited, #import-cmiu-list .custom-file-input:visited::before {
  color: #fff; }

.button-disabled {
  background-color: #D99126;
  color: #FFD699; }

.group {
  margin: 0.5em;
  border: 1px solid #d9d9d9;
  padding: 0.5em 2em; }

.right {
  float: right; }

label {
  float: left;
  width: 23%;
  margin-left: 1ex;
  margin-right: 1ex; }

input:not([type="submit"]) {
  float: left;
  margin-left: 1ex;
  margin-right: 1ex; }

select {
  float: left;
  width: 31.33333%;
  margin-left: 1ex;
  margin-right: 1ex; }

#import-cmiu-list label {
  float: left;
  width: 23%;
  margin-left: 1ex;
  margin-right: 1ex; }
#import-cmiu-list input {
  float: left;
  width: 31.33333%;
  margin-left: 1ex;
  margin-right: 1ex; }
#import-cmiu-list select {
  float: left;
  width: 31.33333%;
  margin-left: 1ex;
  margin-right: 1ex; }
#import-cmiu-list textarea {
  float: left;
  width: 31.33333%;
  margin-left: 1ex;
  margin-right: 1ex;
  height: 5em; }
#import-cmiu-list .button, #import-cmiu-list .custom-file-input::before {
  width: auto; }
#import-cmiu-list .custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }
#import-cmiu-list .custom-file-input::before {
  content: 'Select CMIU list file';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  cursor: pointer; }
#import-cmiu-list .custom-file-input:hover::before {
  border-color: black; }
#import-cmiu-list .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }
#import-cmiu-list .button-file {
  position: relative;
  overflow: hidden; }
#import-cmiu-list .button-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: inherit; }
#import-cmiu-list #selected-file-name {
  border: none;
  padding: 5px;
  background-color: #525252;
  color: #ffffff; }

#testImageUpdateForm div {
  margin: 2em; }
#testImageUpdateForm label {
  float: left;
  width: 23%;
  margin-left: 1ex;
  margin-right: 1ex; }
#testImageUpdateForm .hex-prefix {
  width: 2em;
  float: left;
  margin-left: 1ex;
  margin-right: 0; }
#testImageUpdateForm input {
  float: left;
  width: 48%;
  margin-left: 1ex;
  margin-right: 1ex; }
#testImageUpdateForm .button, #testImageUpdateForm #import-cmiu-list .custom-file-input::before, #import-cmiu-list #testImageUpdateForm .custom-file-input::before {
  float: left;
  width: 23%;
  margin-left: 51%;
  margin-right: 1ex; }
#testImageUpdateForm #revMajor, #testImageUpdateForm #revMinor, #testImageUpdateForm #revDate, #testImageUpdateForm #revBuild {
  width: 5em; }

#imageUpdateForm label {
  float: left;
  width: 30ex;
  margin-left: 1ex;
  margin-right: 1ex; }
#imageUpdateForm select {
  float: left;
  width: 70ex;
  margin-left: 1ex;
  margin-right: 1ex; }

.progress-header-group {
  background: #ff9900;
  padding: 5px; }

.progress-content-group {
  padding: 5px; }

.progress-status-header {
  margin: 0; }
  .progress-status-header:after {
    content: "";
    display: table;
    clear: both; }
  .progress-status-header li {
    display: inline; }
  .progress-status-header .column-header {
    float: left;
    width: 14.66667%;
    margin-left: 1ex;
    margin-right: 1ex;
    word-wrap: normal; }

.progress-status-row {
  margin: 5px 0;
  border-bottom: solid #D99126 1px;
  word-wrap: break-word; }
  .progress-status-row:after {
    content: "";
    display: table;
    clear: both; }
  .progress-status-row li {
    display: inline; }
  .progress-status-row .column-header {
    float: left;
    width: 14.66667%;
    margin-left: 1ex;
    margin-right: 1ex; }
  .progress-status-row .list-content ul:not(:last-child) {
    border-bottom: dashed #5C5C5C 1px;
    /*
    margin-bottom: 10px;
    padding-bottom: 10px;
    */ }
  .progress-status-row .list-content ul:nth-child(odd) {
    background-color: #434343; }
  .progress-status-row .list-content ul:nth-child(even) {
    background-color: #3D3D3D; }


.group-table {
  width: 100%;
  overflow: hidden;
}

.group-row {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.group-row::after {
  content: '';
  clear: both;
  display: block;
}

.group-row>li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-right: -100%;
  float: left;
  display: block;
}

.group-header {
  width: 100%;
}

.group-content {
  width: 100%;
}

.group-table .group-cell {
  padding: 3px 5px;
  position: relative;
  overflow: auto;
}

.group-table .list-content-cmiu {
  width: 7%;
  left: 0%;
}

.group-table .list-content-sim-mno {
  width: 7%;
  left: 7%;
}

.group-table .list-content-user {
  width: 6%;
  left: 14%;
}

.group-table .list-content-command {
  width: 10%;
  left: 20%;
}

.group-table .list-content-details {
  width: 39%;
  left: 29%;
}

.group-table .list-content-submitted {
  width: 12%;
  left: 69%;
}

.group-table .list-content-received {
  width: 12%;
  left: 80%;
}

.group-table .list-content-note {
  width: 4%;
  left: 92%;
}

.group-table .list-content-action {
  width: 4%;
  left: 96%;
}


#c2-toolbar {
  font-size: 28px; }

#c2-toolbar-dropdown {
  margin-top: 2px;
  width: 250px;
  font-size: 16px;
  float: right;
  text-align: right;
  position: relative;
  display: inline-block;
  cursor: pointer; }
  #c2-toolbar-dropdown .glyphicon {
    color: #fff; }
  #c2-toolbar-dropdown .dropdown-menu {
    color: #ff9900;
    text-align: left;
    background-color: #5C5C5C;
    display: none;
    position: absolute;
    margin: 0;
    list-style: none;
    /** Remove list bullets */
    width: 100%;
    /** Set the width to 100% of it's parent */
    padding: 5px 20px; }
    #c2-toolbar-dropdown .dropdown-menu a:link {
      text-decoration: none; }
    #c2-toolbar-dropdown .dropdown-menu a:visited {
      text-decoration: none; }
    #c2-toolbar-dropdown .dropdown-menu a:hover {
      text-decoration: none; }
    #c2-toolbar-dropdown .dropdown-menu a:active {
      text-decoration: none; }
    #c2-toolbar-dropdown .dropdown-menu li {
      padding: 5px;
      margin: 5px;
      border-bottom: dotted 1px #efefef; }

    #c2-toolbar-dropdown .dropdown-menu .disabled {
      color: #b36b00;
    }

#c2-toolbar-dropdown:hover .dropdown-menu {
  display: block;
  z-index: 9999; }

#cmiu-dynamic-list table {
  width: 100%; }
#cmiu-dynamic-list th {
  border: none;
  text-align: left;
  padding: 5px; }
#cmiu-dynamic-list td {
  border: none;
  padding: 5px; }
#cmiu-dynamic-list .cmiu-list-id {
  float: left;
  width: 18ex;
}
#cmiu-dynamic-list .cmiu-list-id input {
  width: 16ex;
}
#cmiu-dynamic-list .cmiu-list-description {
  float: left;
  width: 64.66667%;
}
#cmiu-dynamic-list .cmiu-list-row-action {
  float: left;
  width: 14.66667%;
}
#cmiu-dynamic-list input[type=text] {
  border: none;
  padding: 5px;
  background-color: #525252;
  color: #ffffff; }
#cmiu-dynamic-list input[type="text"]:focus,
#cmiu-dynamic-list input[type="text"].focus {
  background-color: #DF9623; }
#cmiu-dynamic-list .error-invalid-cmiu-entry > input {
  background-color: #FF4747; }

/*# sourceMappingURL=c2.css.map */


select.fota-image-file {
  width: 60ex;
}

select#networkProvider {
  float: left;
  width: auto;
  margin-left: 1ex;
  margin-right: 1ex;
}

div.group-header {
    position: relative;
}

div.loading {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #0e0e0e;
    border: 1px solid #3D3D3D;
    font-style: italic;
}

