/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

#gateway-details dl {
    display: table;
}

#gateway-details dt {
    display: table-cell;
    width: 30ex;
}

#gateway-details dd {
    display: table-cell;
    width: auto;
}

#table-gateway-list {
    width: auto;
}

#table-gateway-list thead {
    color: #ffffff;
    background-color: #ff9900;
    text-align: center;
}

#table-gateway-list th {
    font-weight: bold;
    padding: 5px;
}

#table-gateway-list td {
    min-width: 10em;
}

select#newSiteId {
    min-width: 30em;
}

#dialog-message {
    display: none;
}