/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */


/*
Header and container styles
*/
body {
  background-color: #434343;
  color: #efefef;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-y: scroll;
}

a {
  color: #ff9900;
}

a:visited {
  color: #ef8900;
}

.content {
  height: 100%;
}

h1 {
  font-size: 1.8em;
  text-align: left;
}

h1.page-heading {
  margin-left: 20px;
}

h2 {
  font-size: 1.2em;
  margin-top: 1em;
}

h3 {
  color: #ff9900; }

section {
  margin-left: 20px;
  margin-right: 20px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}


/*
Top header bar
*/

.top-bar {
  border-bottom: 2px solid #ff9900;
  padding: 1ex 1em 1ex 1em;
  margin: 0;
}

.top-bar span, .top-bar .status span {
  display: inline-block;
  vertical-align: middle;
}

.top-bar span a {
  text-decoration: none;
}

.top-bar .status {
  display: inline-block;
  float: right;
  margin: 0;
}

.menu-icon {
  font-weight: bold;
  font-size: 26px;
  margin-right: 1ex;
  color: #ff9900;
}

.application-header {
  font-weight: bold;
  font-size: larger;
  color: #ff9900;
  display: inline-block;
  height: 30px;
}

.application-header a {
  line-height: 30px;
}

.application-header img {
  vertical-align: top;
  margin-right: 1ex;
}

.application-version {
  font-size: small;
  margin-left: 1ex;
  margin-right: 1ex;
}

.top-bar .menu-icon .popup-container {
  display: none;
  height: auto;
  left: 4px;
  position: absolute;
  top: 0px;
  width: auto;
  font-size: medium;
}


.top-bar .menu-icon:hover {
  background: #ff9900;
  color: black;
}

.top-bar .menu-icon:hover .popup-container {
  display: block;
  padding: 54px 0 0 0;
  margin: 0;
}

.top-bar .menu-icon:hover .popup-container .popup {
  background: #ff9900;
  color: black;
  padding: 5px 15px 5px 15px;
  margin: 0;
}

.top-bar .menu-icon:hover .popup-container .popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-bar .menu-icon:hover .popup-container .popup ul li a {
  color: black;
}

.top-bar .menu-icon:hover .popup-container .popup ul li a:hover {
  text-decoration: underline;
}


/*back ends status in header*/


.back-end-status {
  margin-left: 1ex;
  margin-right: 1ex;
}


.back-end-status .error {
  color: red;
}

.back-end-status .warning {
  color: orange;
}

.back-end-status .ok {
  color: green;
}

.login-user {
  font-size: small;
  margin-left: 1ex;
  margin-right: 1ex;
}

/*forms*/

#backends-form .backend-list span {
  display: block;
}

#backends-form div {
  padding: 1ex;
}

#backends-form label {
  padding: 1ex;
}


.button {
  display: inline;
  background-color: #ff9900;
  padding: 0.4em 2em;
  line-height: normal;
  border-radius: 0.5em;
  border-width: 0;
  color: #fff;
  margin: 0 1em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none; }

.button:hover {
  background-color: #ff9900;
  background-image: linear-gradient(#FFBE5C, #FF9900); }

.button:visited {
  color: #fff; }

.button-disabled {
  background-color: #D99126;
  color: #FFD699; }

.group {
  margin: 0.5em;
  border: 1px solid #d9d9d9;
  padding: 0.5em 2em; }

.group::after {
  clear: both;
  content: "";
  display: table;
}

.group.top-margin {
  margin-top: 100px;
}

div.field {
  margin-top: 12px;
}

div.field::after {
  clear: both;
  content: "";
  display: table;
}

.right {
  float: right; }

.left {
    float: left; }

/*default definition for input elements*/
label {
  float: left;
  width: 30ex;
  margin-left: 1ex;
  margin-right: 1ex; }

label.narrow {
    float: left;
    width: 10ex;
    margin-left: 1ex;
    margin-right: 1ex; }

label.medium {
    float: left;
    width: 20ex;
    margin-left: 1ex;
    margin-right: 1ex; }

input[type='text'], input[type='password'] {
  float: left;
  width: 30ex;
  margin-left: 1ex;
  margin-right: 1ex;
}

select {
  float: left;
  width: 30ex;
  margin-left: 1ex;
  margin-right: 1ex;
}

input.submit-button {
  background-color: #d9d9d9;
  color: black;
  border-radius: 3px;
  border: 5px solid #d9d9d9;
  padding: 5px;
}

input:read-only {
  background-color: #525252;
  border: none;
  padding: 2px;
}


input.inline {
  display: inline;
  width: auto;
  float: none;
}

.error-text {
  color: #FF1919;
}

div.table-action-buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 30px;
}

/* Tables */


table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse; }

td, th {
  font-weight: normal;
  color: white;
  margin: 3px 5px;
  padding: 3px 5px;
  word-wrap: break-word;
  border-left: 1px solid #5C5C5C;
  border-right: 1px solid #5C5C5C; }

th {
  background-color: #ff9900; }

tr:nth-child(odd) {
  background-color: #434343; }

tr:nth-child(even) {
  background-color: #3D3D3D; }

td.small-values {
  text-align: center;
}


/* Div tables */

.tableMain {
  display: table;
}

.tableRow {
  display: table-row;
}

.tableCell {
  padding-top: 0.5em;
  display: table-cell;
}


/*
Quadrants
*/

.quadrants {
  width: 100%;
  height: 45%;
}

.quadrants section {
  width: 49%;
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow: auto;
}



.quadrants section.tl {
  border-right: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.quadrants section.tr {
  border-left: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.quadrants section.bl {
  border-right: 1px solid #ff9900;
  border-top: 1px solid #ff9900;
}

.quadrants section.br {
  border-left: 1px solid #ff9900;
  border-top: 1px solid #ff9900;
}


/*
Charts
*/

.status-chart {
  width: 49%;
  height: 70%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.debug {
  margin: 2em;
  background-color: lightyellow;
  color: darkcyan;
}

.cmiu-details select {
  margin: 0.5em 0em;
}

.error {
  color: red;
  margin: 1em;
  background-color: lightyellow;
  padding:0.5em;
}

.control-box {
  color: #ff9900;
  position:relative;;
  float:right;
  margin: 1em;
}

.glyphicon {
  color: #ff9900;
}

#alert-tabs {
  text-align: left;
  font-size: small;
}

.config input {
  min-width: 8em;
}

/* homepage */
section.homepage-navigation {
  width: 45%;
  min-width: 50ex;

}

section.homepage-status {
  width: 40%;
  min-width: 50ex;
  right: 20px;
  top: 90px;
  padding: 2ex;
  position: absolute;
  display: inline-block;
  border: 1px solid #A0A0A0;
  font-size: small;

}


section.homepage-status table {
  font-size: small;
}

section.homepage-temp {
  min-width: 50ex;
  margin-top: 5em;
  font-size: small;
  color: #B0B0B0;
}

section.homepage-temp a {
  color: #B05000;
}