/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2016 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

a.column-sort
{
    color: #efefef;
    text-decoration: underline;
}

a.column-sort:hover
{
    text-decoration: none;
}

.highlight-miu
{
    background: #ff9900;
    color: black;
}

a.highlight-miu
{
    background: #ff9900;
    color: black;
}

a.highlight-miu:visited
{
    background: #ff9900;
    color: black;
}

div.more-in-group-above
{
    display: none;
    position: fixed;
    top: 0;
    width: 8%;
    left: 90%;
    background: #ff9900;
    color: black;
    text-align: center;
}

div.more-in-group-below
{
    display: none;
    position: fixed;
    bottom: 0;
    width: 8%;
    left: 90%;
    background: #ff9900;
    color: black;
    text-align: center;
}

span.sort-direction
{
    color: #efefef;
    font-size: 75%;
}

div.expand-collapse
{
    font-size: 75%;
    padding-bottom: 0.25em;
}

div.cnc-float-left
{
    float: left;
}

div.commands-in-progress-loaded
{
    display: none;
}

div.commands-completed-loaded
{
    display: none;
}

div.commands-received-loaded
{
    display: none;
}

div.commands-rejected-loaded
{
    display: none;
}
