/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2015 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

#miu-details dl {
    display: table;
}

#miu-details dt {
    display: table-cell;
    width: 30ex;
}

#miu-details dd {
    display: table-cell;
    width: auto;
}

#table-miu-list {
    width: auto;
}

#table-miu-list thead {
    color: #ffffff;
    background-color: #ff9900;
    text-align: center;
}

#table-miu-list th {
    font-weight: bold;
    padding: 5px;
}

#table-miu-list td {
    min-width: 10em;
}

select#newSiteId {
    min-width: 30em;
}

select#selectedSite {
    width: 30em;
}

#dialog-message {
    display: none;
}

#miuSiteSelect {
    font-size: 12pt;
}

input.greyed-out {
    color: #a0a0a0;
}

div.padRight {
    padding-right: 2ex;
}

span.pageLink {
    padding-left: 0.5em;
}

span.currentPage {
    padding-left: 0.5em;
    font-weight: bold;
}
