/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2016 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

#table-sim-list {
    width: auto;
}

#table-miu-list thead {
    color: #ffffff;
    background-color: #ff9900;
    text-align: center;
}

#table-sim-list th {
    font-weight: bold;
    padding: 5px;
}

#table-sim-list td {
    min-width: 10em;
}

#table-sim-list a {
    text-decoration: none;
}

#table-sim-list a:hover {
    text-decoration: underline;
}

select#selectedSite {
    width: 30em;
}

#dialog-message {
    display: none;
}

.separator {
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #ff9900;
    float: left;
    margin-right: -1px;
}

.separator-last {
    border-right: none;
    border-left: 1px solid #ff9900;
}

