thead tr th {
    font-size: 13px;
}

#cmiu-list-file {
    background-color: white;
    color: black;
}

#cmiu-filters input {
    width: 207px;
}

#cmiu-filters div {
    clear: both;
    padding-top: 8px;
    margin-left: -30px;
}

form {
    margin: 0 0 -11px 0;
}

select {
    margin-left: 0;
}

.population-button {
    display: inline-block;
    margin-left: -8px;
}

.generate-button {
    display: none;
}

#connection-threshold-error {
    display: none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 3px 5px;
    border-radius: 6px;
}

#time-analysis-detail-table{
    margin-left: 8px;
}

span.ui-combobox {
    font-size: 12px;
}