/*
 *
 * **************************************************************************
 *
 *     Neptune Technology Group
 *     Copyright 2016 as unpublished work.
 *     All rights reserved
 *
 *     The information contained herein is confidential
 *     property of Neptune Technology Group. The use, copying, transfer
 *     or disclosure of such information is prohibited except by express
 *     written agreement with Neptune Technology Group.
 *
 * **************************************************************************
 *
 *
 */

#user-dynamic-list .user-list-username {
    min-width: 20em;
}

#user-dynamic-list .user-list-userlevel {
    min-width: 4em;
}

#user-dynamic-list .user-list-email {
    min-width: 20em;
}

#user-dynamic-list .user-list-status {
    min-width: 20em;
}

#user-sites-dynamic-list .user-sites-site {
    min-width: 4em;
}

/*User Details - alert settings*/
#user-alerts-settings .source {
    width: 80%;
}

#user-alerts-settings input[type=checkbox] {
    width: 20%;
}

#user-name-to-delete {
    color:#ff9900;
}
