﻿@using Ntg.BpcWebService
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BPC Service Web Client</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/common")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/spin")
    </head>
    <body application-root="@Url.Content("~/")">
        <header>


            <div class="top-bar" style="background-image: url('@Url.Content("~/Images/bkgd_dark_stripes.jpg")')">
                <div class="status">
                    <span class="login-user">
                        <span class="glyphicon glyphicon-user"></span>
                        @User.Identity.Name
                    </span>
                    <span class="application-version">@typeof(MvcApplication).Assembly.GetName().Version</span>
                </div>
                <span class="menu-icon" title="Menu">
                    &#9776;<div class="popup-container">
                        <div class="popup">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Find my MIU", "Index", "Find")</li>
                                <li>@Html.ActionLink("CAN Report", "Index", "CanReport")</li>
                            </ul>
                        </div>
                    </div>
                </span>
                <span class="application-header"><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo_61x59.png")" width="30" height="30" border="0" alt="Neptune TG BPC Service Web Client" />Neptune TG BPC Service Web Client</a></span>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <div>&copy; @DateTime.Now.Year - Neptune Technology Group</div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
