﻿@*
**************************************************************************
    Neptune Technology Group
    Copyright 2017 as unpublished work.
    All rights reserved
    The information contained herein is confidential
    property of Neptune Technology Group. The use, copying, transfer
    or disclosure of such information is prohibited except by express
    written agreement with Neptune Technology Group.
**************************************************************************
*@
@model Ntg.BpcWebService.Models.CanReport.PostTextRequestModel
@Scripts.Render("~/bundles/can_report_index")

@{
    ViewBag.Title = "CAN Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>CAN Report</h2>
    <p>
        Use this tool to query all MDCE environments for a list of MIU IDs. The tool generates a CSV report
        showing which environment most recently heard from each unit, and also includes each CMIU's ICCID and 
        IMEI as reported by MDCE.
    </p>
    @if (Model != null && !string.IsNullOrEmpty(Model.ErrorFromLastSubmission))
    {
        <p class="error-text">@Model.ErrorFromLastSubmission</p>
    }
    <p>
        <input type="radio" name="group" value="csv" id="csv-button" class="can-report" checked="checked"> <label for="csv-button" class="can-report">Upload an MIU ID list</label>
        <input type="radio" name="group" value="text" id="text-button" class="can-report"> <label for="text-button" class="can-report">Paste an MIU ID list</label><br/>
    </p>
    <div id="csv-section">
        @using (Html.BeginForm("PostCsvList", "CanReport", FormMethod.Post, new { enctype = "multipart/form-data", Id = "CsvData" }))
        {
            <p>
                Select a CSV file containing the MIU IDs (get the @(Html.ActionLink("template CSV file", "GetCsvTemplate"))):
            </p>
            <p>
                @Html.AntiForgeryToken()
                <input type="file" name="file" accept=".csv, .txt, text/csv, text/x-csv, text/plain"/>
            </p>
            <p>
                <input type="submit" value="Generate report"/>
            </p>
        }
    </div>
    <div id="text-section">
        @using (Html.BeginForm("PostTextList", "CanReport", FormMethod.Post))
        {
            <p>
                Enter the MIU IDs below, one per line:
            </p>
            <p>
                @Html.AntiForgeryToken()
                @Html.TextAreaFor(model => model.MiuListText, new { rows = 10 })
            </p>
            <p>
                <input type="submit" value="Generate report" />
            </p>
        }
    </div>

</div>
